
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

/*--- Reset--- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--- Variables--- */

:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --desaturated-red-light: hsl(0, 33%, 98%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
}

/*------ */
body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
  }

img {
    max-width: 100%;
  }
  .logo {
    padding: 1.5rem 0 0 1.5rem;
  }
  
  main {
    display: flex;
    flex-direction: column-reverse;
  }
  
  main h1 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--dark-grayish-red);
  }
  
  main h1 span {
    color: var(--desaturated-red);
    font-weight: 300;
  }
  
  main section:first-child {
    text-align: center;
    padding: 0 1.5rem 2rem;
  }
  
  main section:first-child p {
    color: var(--desaturated-red);
    line-height: 1.6;
  }
  
  main section .logo {
    display: none;
  }
  
  main section picture img {
    width: 100%;
    margin: 2rem 0;
  }
  
  form {
    position: relative;
  }
  
  form input {
    font-family: inherit;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border: 1px solid var(--dark-grayish-red);
    border-radius: 30px;
    width: 100%;
    margin: 2rem 0 0;
    color: var(--desaturated-red);
  }
  
  form input::placeholder {
    color: var(--dark-grayish-red);
  }
  
  
  form label {
    position: absolute;
    top: 35%;
    transform: translateY(35%);
    right: 5.5rem;
    display: none;
  }
  
  form button {
    position: absolute;
    top: 65%;
    right: -0.5rem;
    transform: translateY(-65%);
  
    background-image: linear-gradient(135deg, var(--desaturated-red-light), var(--desaturated-red));
    border: none;
    border-radius: 30px;
    padding: 0.8rem 2rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  form button:hover {
    background-image: linear-gradient(135deg, var(--desaturated-red-light), var(--desaturated-red-light));
  }
  
  .error {
    color: var(--soft-red) !important;
    text-align: left;
    margin-top: 0.5rem;
    display: none;
  }
  